---
import HeadForm from "../components/HeadForm.astro";
import { markdownify } from "../../lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
const { splash } = Astro.props;
---

{
  splash.data.enable && (
    <section class="relative h-full bg-black">
      <div class="absolute inset-0">
        <div class="relative  h-full overflow-hidden bg-cover bg-center bg-no-repeat blur-sm">
          <img
            src={splash.data.bgImg}
            width="1920"
            height="auto"
            alt={"Промышленный альпинизм и высотные работы"}
            class="h-full w-full rounded-b-lg"
          />
          <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-slate-950/[.75] bg-fixed" />
        </div>
      </div>
      <div class="relative grid h-full place-items-center lg:grid-cols-2">
        <div class="z-10 mx-6 mb-20 mt-6 flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end lg:flex">
          <h1>
            <div
              class="text-xl font-extrabold tracking-tighter text-white lg:text-4xl"
              set:html={markdownify(splash.data.h1)}
            />
          </h1>

          <HeadForm />
        </div>
        <div
          id="astronaut"
          class="-mt-[140px] w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start md:collapse lg:visible lg:mt-0 xl:visible xl:mt-0 2xl:visible 2xl:mt-0"
        >
          <Image
            src={splash.data.astronautImage}
            height={998}
            width={768}
            alt={splash.data.altAstronaut}
          />
        </div>
      </div>
    </section>
  )
}

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, -30px, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
